
.InputPassword  {
    margin-bottom: 38px;
}
.InputPassword > div {
    width: 350px;
    margin: 0 auto;
}
.InputPassword > div > label {
    font-family: "SFUIDisplay-Regular";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
}


