.newPassword {
    background: #F9F9FE;
    width: 413px;
    padding: 25px 33px 138px 33px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #2D2E46;
    margin-bottom: 32px;
}

.subtitle {
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2D2E46;
    margin-bottom: 40px;
}

.formBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputWrap {
    position: relative;
    margin-bottom: 30px;
}

.inputWrap::after {
    content: "";
    background-image: url(./../../assets/images/eye.svg);
    background-repeat: no-repeat;
    display: block;
    width: 31px;
    height: 25px;
    position: absolute;
    top: 11px;
    right: 13px;
}

.field {
    width: 347px;
    height: 48px;
    align-items: center;
    color: #2D2E46;
    opacity: 0.5;
    border: none;
    background-color: inherit;
    border-bottom: 2px solid #24254A;
    padding-left: 17px;
    font-family: "SFUIDisplay-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.textLight {
    font-family: "SFUIDisplay-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
    text-decoration: none;
    text-align: left;
    margin-bottom: 90px;
}

.btnBlue {
    background: #21268F;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ECECF9;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 266px;
    height: 36px;
    font-family: "SFUIDisplay-Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}