.packsList {
    display:flex;   
    margin: auto;
    max-width: 1008px;
}

.contentLeft {   
    display: flex;
    flex-direction:column;   
    min-width:245px;
    background-color: #ECECF9;    
    padding: 33px 23px 0 23px;
}

.titleForButtons {
    font-family: "SFUIDisplay-Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2D2E46;
    text-align: left;
    margin-bottom: 20px;
}
.titleForSlider {
    font-family: "SFUIDisplay-Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2D2E46;
    text-align: left;
    margin-bottom: 54px;   
}



.btnWrap {
    display:flex;
    margin-bottom: 45px;
}

.contentRight {   
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    background-color:#FEFEFF;
    padding:  24px 48px;
}
.contentRightTop {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    gap: 24px;
    margin-bottom: 24px;
}

.btnBlue {
    width: 184px;
    background: #21268F;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ECECF9;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 36px;
    font-family: "SFUIDisplay-Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
    border: none;
    cursor: pointer;   
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
} 

.search {
    background: #ECECF9;
    opacity: 0.5;
    border: 1px solid #635D80;
    border-radius: 2px;
    font-family: "SFUIDisplay-Regular";
    width: 460px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding: 6px 20px 6px 40px;   
}
.search:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
/* добавить обертку для скрола! */
/* .tableWrap {
    max-height: 432px;
    overflow: hidden; 
    overflow-y: auto;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);

} */

.table {
     border: none;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%; 
    max-width: 670px;   
    table-layout: fixed; 
    max-height: 432px;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.tableHeader {    
    background-color: #ECECF9;
    /* position: fixed; */
}
.scrollTableBody {
    max-height:384px;
    overflow-x: hidden;
    overflow-y: auto;

}

.tr {
    height: 48px;
    text-align: left;     
    color: #2D2E46;
    font-family: "SFUIDisplay-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    padding-left: 24px;
    padding-right: 24px;
    display: grid;
    /* grid-template-columns: 165px 85px 135px 112px 1fr; */
    grid-template-columns: 160px 80px 135px minmax(110px, 120px) 140px;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tr:nth-child(2n) {
    background-color:#F8F7FD;
}

.td {
    font-family: "SFUIDisplay-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
}
.td:first-child {
    cursor: pointer;
}

.td:nth-child(4) {
    max-width: 112px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
} 

.th:last-child,
.td:last-child {
    /* justify-self: center; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.th{
    cursor: pointer;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btnBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.contentRightBottom {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2D2E46;
    margin-top: 24px;
}

.pagination {
    margin-right: 34px;    
}


.choiceCard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}

































