.packsList {
    display:flex;   
    margin: auto;
    max-width: 1008px;
}

.contentLeft {   
    display: flex;
    flex-direction:column;   
    min-width:245px;
    background-color: #ECECF9;    
    padding: 33px 23px 0 23px;
}

.titleForButtons {
    font-family: "SFUIDisplay-Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2D2E46;
    text-align: left;
    margin-bottom: 20px;
}
.titleForSlider {
    font-family: "SFUIDisplay-Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2D2E46;
    text-align: left;
    margin-bottom: 54px;   
}

 /* {
    display: flex;
    align-items: center;
    width: 196px;
} */
/* .sliderWrap > span {
    color: #21268F;
} */


.btnWrap {
    display:flex;
    margin-bottom: 45px;
}

.contentRight {   
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    background-color:#FEFEFF;
    padding:  24px 48px;
}
.contentRightTop {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    gap: 24px;
}

.btnBlue {
    width: 184px;
    background: #21268F;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ECECF9;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 36px;
    font-family: "SFUIDisplay-Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
    border: none;
    cursor: pointer;   
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
} 

.search {
    background: #ECECF9;
    opacity: 0.5;
    border: 1px solid #635D80;
    border-radius: 2px;
    font-family: "SFUIDisplay-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    width: 469px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 40px;   
}

.table {
    margin-top: 24px;
    margin-bottom: 24px;
    max-width: 670px;
    border-spacing: 0px;
    border-collapse: collapse;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.tableHeader {    
    background-color: #ECECF9;
}

.tr {
    height: 48px;
    text-align: left;     
    color: #2D2E46;
    font-family: "SFUIDisplay-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    padding-left: 24px;
    display: grid;
    grid-template-columns: 165px 85px 135px 112px 1fr;
    align-items: center;
}

.tr:nth-child(2n) {
    background-color:#F8F7FD;
}

.td {
    font-family: "SFUIDisplay-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;   
}

.td:nth-child(4) {
    max-width: 112px;
    word-wrap: break-word;
} 

.th:last-child,
.td:last-child {
    justify-self: center;
}

.btnBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.contentRightBottom {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2D2E46;
}

.pagination {
    margin-right: 34px;    
}


.choiceCard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}

































