.packsList {
    display:flex;   
    margin: auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    
}

.contentLeft {   
    display: flex;
    flex-direction:column;   
    max-width:245px;
    background-color: #ECECF9;    
    padding: 33px 23px 0 23px;
    border-top-left-radius:8px;
    border-bottom-left-radius :8px;
}

.titleForButtons {
    font-family: "SFUIDisplay-Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2D2E46;
    text-align: left;
    margin-bottom: 20px;
}
.titleForSlider {
    font-family: "SFUIDisplay-Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2D2E46;
    text-align: left;
    margin-bottom: 54px;   
}



.btnWrap {
    display:flex;
    margin-bottom: 45px;
}

.contentRight {   
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    padding:  24px 48px;
}
.contentRightTop {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    gap: 24px;
    margin-bottom: 24px;
}

.btnBlue {
    width: 184px;
    background: #21268F;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ECECF9;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 36px;
    font-family: "SFUIDisplay-Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
    border: none;
    cursor: pointer;   
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
} 

.search {
    background: #ECECF9;
    opacity: 0.5;
    border: 1px solid #635D80;
    border-radius: 2px;
    font-family: "SFUIDisplay-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding: 6px 20px 6px 40px;
    width: 460px;
}
.search:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.contentRightBottom {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2D2E46;
    margin-top: 24px;
}

.pagination {
    margin-right: 34px;    
}


.choiceCard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}


































